* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

.container {
  border: 2px solid black;
}

.box {
  height: 100px;
  width: 100px;
}

.box1 {
  background-color: aqua;
}
.box2 {
  background-color: rgb(46, 0, 172);
}
.box3 {
  background-color: rgb(128, 0, 106);
}
.box4 {
  background-color: rgb(244, 248, 6);
}
.box5 {
  background-color: rgb(0, 56, 70);
}
.box6 {
  background-color: rgb(255, 197, 122);
}
